[submodule "pmg-gui"]
	path = pmg-gui
	url = ../pmg-gui/

[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = ../proxmox-widget-toolkit/

[submodule "pve-manager"]
	path = pve-manager
	url = ../pve-manager/
[submodule "proxmox-backup"]
	path = proxmox-backup
	url = ../proxmox-backup
[submodule "proxmox-datacenter-manager"]
	path = proxmox-datacenter-manager
	url = ../proxmox-datacenter-manager
[submodule "proxmox-yew-widget-toolkit"]
	path = proxmox-yew-widget-toolkit
	url = git://git.proxmox.com/git/ui/proxmox-yew-widget-toolkit.git
[submodule "proxmox-yew-comp"]
	path = proxmox-yew-comp
	url = git://git.proxmox.com/git/ui/proxmox-yew-comp.git
[submodule "pve-yew-mobile-gui"]
	path = pve-yew-mobile-gui
	url = git://git.proxmox.com/git/ui/pve-yew-mobile-gui.git
[submodule "pmg-yew-quarantine-gui"]
	path = pmg-yew-quarantine-gui
	url = git://git.proxmox.com/git/ui/pmg-yew-quarantine-gui.git
