[submodule "proxmox-mailgateway-gui"]
	path = proxmox-mailgateway-gui
	url = ssh://gitolite3@proxdev.maurer-it.com/pmg/proxmox-mailgateway-gui

[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = ssh://gitolite3@proxdev.maurer-it.com/pve/proxmox-widget-toolkit

[submodule "pve-manager"]
	path = pve-manager
	url = ssh://gitolite3@proxdev.maurer-it.com/pve/pve-manager
