[submodule "pmg-gui"]
	path = pmg-gui
	url = ../pmg-gui/

[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = ../proxmox-widget-toolkit/

[submodule "pve-manager"]
	path = pve-manager
	url = ../pve-manager/
[submodule "proxmox-backup"]
	path = proxmox-backup
	url = ../proxmox-backup
[submodule "proxmox-datacenter-manager"]
	path = proxmox-datacenter-manager
	url = ../proxmox-datacenter-manager
[submodule "proxmox-yew-widget-toolkit"]
	path = proxmox-yew-widget-toolkit
	url = ../proxmox-yew-widget-toolkit
[submodule "proxmox-yew-comp"]
	path = proxmox-yew-comp
	url = ../proxmox-yew-comp
[submodule "pve-yew-mobile-gui"]
	path = pve-yew-mobile-gui
	url = ../pve-yew-mobile-gui
