Source: proxmox-i18n
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13), gettext, libjson-perl, liblocale-po-perl, xtr,
Standards-Version: 4.6.2
Homepage: https://www.proxmox.com

Package: pmg-i18n
Architecture: all
Depends: ${misc:Depends},
Description: Internationalization support for Proxmox Mail Gateway
 This package provides the translations into all available languages.

Package: pbs-i18n
Architecture: all
Depends: ${misc:Depends},
Description: Internationalization support for Proxmox Backup Server
 This package provides the translations into all available languages.

Package: pve-i18n
Architecture: all
Depends: ${misc:Depends},
Description: Internationalization support for Proxmox VE
 This package provides the translations into all available languages.

Package: pdm-i18n
Architecture: all
Depends: ${misc:Depends},
Description: Internationalization support for Proxmox Datacenter Manager
 This package provides the translations into all available languages.

Package: pve-yew-mobile-i18n
Architecture: all
Depends: ${misc:Depends},
Description: Internationalization support for Proxmox Virtual Environment (yew PWA)
 This package provides the translations into all available languages.

Package: pmg-yew-quarantine-i18n
Architecture: all
Depends: ${misc:Depends},
Description: Internationalization support for Proxmox Mail Gateway Quartantine GUI
 This package provides the translations into all available languages.
